

.sidebar{
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6db939;
    padding-top: 20px;
}

.sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
}

.sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}

.sidebar ul li a{
    color: #ffffff;
    display: block;
}

.sidebar ul li a .fas{
    width: 25px;
}

.sidebar ul li:hover{
    background-color: #318d2a;
}

.sidebar ul li:hover a{
    color: #fff;
}

.sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.sidebar .social_media a{
    display: block;
    width: 40px;
    background: #318d2a;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}