
html { 
  background: url(../images/cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section {
  color: red;
}

div {
  color: red;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  background: white;
  margin: auto;
  margin-right: 100px;
  padding: 20px;
}

footer {
  background: black;
  position: absolute;
  bottom: 0;
}

p {
  
  color: white;
}