<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="css/sidebar.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script type="text/javascript" src="js/extractText.js"></script>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>

<div class="main">

<div class="sidebar">
    <h2>Sidebar</h2>
    <ul>
        <li><a href="/home"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="/extractText"><i class="fas fa-font"></i></i>Text Extract</a></li>
        <li><a href="/extractInfo"><i class="fas fa-info"></i></i>Information Extract</a></li>
        <li><a href="/gallery"><i class="fas fa-image"></i>Gallery</a></li>
        <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
        <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
    </ul>
    <div class="social_media">
        <a href="https://www.facebook.com/BristolMuseumandArtGallery/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/bristolmuseum"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/bristolmuseums/"><i class="fab fa-instagram"></i></a>
    </div>
</div>


<div class="center">
    <input id="file" type="file" name="imageFile" />
    <button id="submit">submit</button>
    <script>
        const button = document.getElementById('submit');
        button.addEventListener('click', async event => {
            const imageFile =
                {
                   value : document.getElementById("file").files[0].name
                };
            await sendHttpRequest('POST', '/extractText', imageFile)
                .then(responseData => {
                    document.getElementById('textArea').value = JSON.parse(responseData)["value"];
                })
                .catch(err =>{
                    console.log(err);
                });
        });
    </script>
</div>

<div class="center">
    <textarea id="textArea" placeholder="Extracted text will appear here!" cols="50" rows="30"></textarea>
</div>
</div>

</body>
</html>
