<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biological Data</title>
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="css/sidebar.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


</head>
<body>

<div class="main">
<header>
    <p  th:text = "'Images in Gallery:'"></p>
</header>

<div class="sidebar">
    <h2>Sidebar</h2>
    <ul>
        <li><a href="/home"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="/extractText"><i class="fas fa-font"></i></i>Text Extract</a></li>
        <li><a href="/extractInfo"><i class="fas fa-info"></i></i>Information Extract</a></li>
        <li><a href="/gallery"><i class="fas fa-image"></i>Gallery</a></li>
        <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
        <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
        <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Login</a></li>
    </ul>
    <div class="social_media">
        <a href="https://www.facebook.com/BristolMuseumandArtGallery/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/bristolmuseum"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/bristolmuseums/"><i class="fab fa-instagram"></i></a>
    </div>
</div>

<div class="main" sec:authorize="isAuthenticated()">
    <form action="#" th:action="@{/gallery/upload}" method="POST" th:object="${imageFile}" enctype="multipart/form-data">
        <table>
            <tr class="form-group"><td>
                <label><input th:type="file" th:field="*{file}" name = "multipartFilesDocument"
                              value="multipartFilesDocument" class="form-control" placeholder="Image"></label>
            </td></tr>
            <tr class="form-group"><td>
                <label><input th:type="text" th:field="*{title}" class="form-control" placeholder="Title"/></label>
            </td></tr>
            <tr class="form-group"><td>
                <label><input th:type="text" th:field="*{author}" class="form-control" placeholder="Author"/></label>
            </td></tr>
            <tr class="form-group"><td>
                <label><input th:type="text" th:field="*{writtenDate}" class="form-control" placeholder="Written date"/></label>
            </td></tr>
            <tr class="form-group"><td>
                <label><input th:type="text" th:field="*{page}" class="form-control" placeholder="Page"/></label>
            </td></tr>
            <tr class="form-group"><td>
                <label><textarea id="textArea" th:field="*{description}" class="form-control" placeholder="Description" cols="20" rows="10"></textarea></label>
            </td></tr>
            <tr class="form-group"><td>
                <input type="submit" value="Upload Image">
            </td></tr>
        </table>
    </form>
</div>

<div id="top"></div>
<section class="gallery">
    <div class="row">
        <ul>
            <a href="#" class="close"></a>
            <li th:each = "image: ${images}">
                <a class="image" th:href = "'#' + ${image.getId()}">
                    <img th:src = "@{ ${image.getImageUrl()} }" th:alt = "${image.getTitle()}" >
                </a>
            </li>
        </ul>
    </div>

    <div th:each = "image: ${images}" th:id = "${image.getId()}" class="port">

        <div class="row">
            <div class="description">
                <h1 th:text = "'Title: ' + ${image.getTitle()}"></h1>
                <h2 th:text = "'Author: ' + ${image.getAuthor()}"></h2>
                <p th:text = "'Written Data: ' + ${image.getWrittenDate()}"></p>
                <p th:text = "'Page: '+ ${image.getPage()}"></p>
                <p th:text = "'Description: ' + ${image.getDescription()}"></p>
                <p th:text = "'Transcription: ' + ${image.getTranscription()}"></p>
            </div>

            <img th:src = "@{ ${image.getImageUrl()} }" th:alt = "${image.getTitle()}">

        </div>
    </div>
</section>
</div>

</body>
</html>