
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biological Data</title>
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="css/sidebar.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

</head>



<div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/extractText"><i class="fas fa-font"></i></i>Text Extract</a></li>
            <li><a href="/extractInfo"><i class="fas fa-info"></i></i>Information Extract</a></li>
            <li><a href="/gallery"><i class="fas fa-image"></i>Gallery</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
        </ul>
        <div class="social_media">
            <a href="https://www.facebook.com/BristolMuseumandArtGallery/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/bristolmuseum"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/bristolmuseums/"><i class="fab fa-instagram"></i></a>
        </div>
</div>

<div class="main">

<header>
    <h1 id="elo">Biological Data</h1>
</header>

<div id="top"></div>
<section class="gallery">
    <div class="row">
        <ul>
            <a href="#" class="close"></a>
            <li>
                <a class="image" href="#item01">
                    <img id="zdj" src="images/Moth Trap - 1931 - Data.JPG" alt="">
                </a>
            </li>

            <li>
                <a class="image" href="#item02">
                    <img src="images/Moth Trap - 1931.JPG" alt="">
                </a>
            </li>

            <li>
                <a class="image" href="#item03">
                    <img src="images/Notes on Butterflies _ Moths of Somersetshire - Data ii.JPG" alt="">
                </a>
            </li>
            <li>
                <a class="image" href="#item04">
                    <img src="images/Vol VII - 1960-63 - Data ii.JPG" alt="">
                </a>
            </li>
            <li>
                <a class="image" href="#item05">
                    <img src="images/Entomological Notes Vol I 1946-48 - Data ii.JPG" alt="">
                </a>
            </li>
            <li>
                <a class="image" href="#item06">
                    <img src="images/Collector info - moth book 1.JPG" alt="">
                </a>
            </li>
            <li>
                <a class="image" href="#item07">
                    <img src="images/Vol VIII - Data.JPG" alt="">
                </a>
            </li>
            <li>
                <a class="image" href="#item08">
                    <img src="images/Volumes VIII - XI.JPG" alt="">
                </a>
            </li>
        </ul>
    </div> <!-- / row -->

    <!-- Item 01 -->
    <div id="item01" class="port">

        <div class="row">
            <div class="description">
                <h1>Item 01</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>

            <img src="images/Moth Trap - 1931 - Data.JPG" alt="">
        </div>
    </div> <!-- / row -->

    </div> <!-- / Item 02 -->

    <!-- Item 02 -->
    <div id="item02" class="port">

        <div class="row">
            <div class="description">
                <h1>Item 02</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>
            <img src="images/Moth Trap - 1931.JPG" alt="">
        </div> <!-- / row -->

    </div> <!-- / Item 02 -->

    <div id="item03" class="port">

        <div class="row">
            <div class="description">
                <h1>Item 02</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>
            <img src="images/Notes on Butterflies _ Moths of Somersetshire - Data ii.JPG" alt="">
        </div>

    </div>

    <div id="item04" class="port">

        <div class="row">
            <div class="description">
                <h1>Item 02</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>
            <img src="images/Vol VII - 1960-63 - Data ii.JPG" alt="">
        </div>

    </div>

    <div id="item05" class="port">

        <div class="row">
            <div class="description">
                <h1>Item 02</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>
            <img src="images/Entomological Notes Vol I 1946-48 - Data ii.JPG" alt="">
        </div>

    </div>

    <div id="item06" class="port">

        <div class="row">
            <div class="description">
                <h1>Item 02</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>
            <img src="images/Collector info - moth book 1.JPG" alt="">
        </div>

    </div>

    <div id="item07" class="port">

        <div class="row">
            <div class="description">
                <h1>Item 02</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>
            <img src="images/Vol VIII - Data.JPG" alt="">
        </div>

    </div>

    <div id="item08" class="port">

        <div class="row">
            <div class="description">
                <h1>Item 02</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
            </div>
            <img src="images/Volumes VIII - XI.JPG" alt="">
        </div>

    </div>


</section> <!-- / projects -->

</div>

</html>
