
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biological Data</title>
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="css/sidebar.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

</head>



<div class="sidebar">
    <h2>Sidebar</h2>
    <ul>
        <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="/extractText"><i class="fas fa-font"></i></i>Text Extract</a></li>
        <li><a href="/extractInfo"><i class="fas fa-info"></i></i>Information Extract</a></li>
        <li><a href="/gallery"><i class="fas fa-image"></i>Gallery</a></li>
        <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
        <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
    </ul>
    <div class="social_media">
        <a href="https://www.facebook.com/BristolMuseumandArtGallery/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/bristolmuseum"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/bristolmuseums/"><i class="fab fa-instagram"></i></a>
    </div>
</div>

<div class="center">
    <form action="/extractText" method="post">
        <input type="file" name="imageFile">
        <input type="submit">
    </form>
</div>

<div class="center">
    <h3>${extracted_text}</h3>
</div>

</html>
