<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>BiologicalData</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
</head>



<!--
<body>
    <p>Write a number!</p>
    <form method="post">
        <input type="text" name="number">
        <button type="submit">Submit!</button>
    </form>
</body-->


<body>
    <header>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="pages/location.html">Locations</a></li>
          <li><a href="pages/contact.html">Contact</a></li>
            </ul>
      </nav>
    </header>
    <h1>Home</h1>

</body>

<footer>
    <p>No siema</p>
</footer>


</html>
