<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Create an account</title>
</head>

<body>

<div class="container">

    <form method="post" action="#"  th:action="@{/registration}" th:object="${userForm}" class="form-signin">
        <h2 class="form-signin-heading">Create your account</h2>
            <div class="form-group">
                <label>
                    <input type="text" th:field="*{username}" class="form-control" placeholder="Username"
                                autofocus/>
                </label>
            </div>

            <div class="form-group">
                <label>
                    <input type="password" th:field="*{password}" class="form-control" placeholder="Password"/>
                </label>
            </div>

            <div class="form-group ${status.error ? 'has-error' : ''}">
                <label>
                    <input type="password" th:field="*{passwordConfirm}" class="form-control"
                                placeholder="Confirm your password"/>
                </label>
            </div>

            <input type="submit" value="Submit" />
    </form>

</div>

</body>
</html>